@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3, p {
  font-family: Anonymous Pro, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 56px;
  text-align: center;
  margin-top: 20px; /* Вы можете настроить отступ по своему усмотрению */
}

a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: 48px;
}

.container {
  display: inline-block;
  margin: 15px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 14px;
}

img {
  max-width: 370px;
}

.logo {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  margin: 0;
}
p {
  font-family: Anonymous Pro, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
h3 {
  font-family: Anonymous Pro, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.header {
  font-family: Anonymous Pro, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;

}
.footer p, a {
  font-family: Anonymous Pro, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.logo__line {
  font-size: 56px;
}

body {
  font-family: Anonymous Pro, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color:  #F1F1F1;
}
header {
  text-align: center;
  background-color: white;
  color: black;
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center; /* выравнивание по вертикали */
  justify-content: center;
}
a {
  text-decoration: none;
}
.social-icons a {
  color: white;
}
.header a {
  color: black;
}
footer {
  background-color: #121723;
  color: white;
  padding: 20px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.header1 {
  width: 1261px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
hr {
  color: #E6E8EC66;
  width: 1440px;
  height: 1px;
}
.footer__copyright {
  text-align: center;
  align-items: center;
  font-size: 14px;
  margin-top: 20px; /* Добавьте верхний отступ для разделения контента */
  color: #A1A6B4;
}

.logo__line {
  margin: 0;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin: 0 10px;
}

.icon {
  height: 50px;
  width: 50px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.sneaker:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transform: translateY(-10px);
}

.sneaker {
  border: 1px solid #ccc;
  padding: 14px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 371px;
  height: auto;
}
.sneaker__image {
  max-width: 331px;
}
.container1, .container2, .container3 {
  width: 1161px;
  height: auto;
  align-items: flex-start;
  display: flex; 
  flex-wrap: wrap;
  margin: 24px;
  justify-content: space-between;
}
.container0 {
  box-sizing: border-box;
  width: 1161px;
  margin: auto;
  padding: auto;
}
.title {
  text-align: left;
  margin-top: 20px;
  font-family: Anonymous Pro, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  padding-left: 23px;
}
@media screen and (max-width: 600px) {
  /* Tablet styles */
  h1 {
    font-size: 40px; /* Adjust font size for tablet */
  }
  
  .container, .container1, .container2, .container3 {
    padding: 10px; /* Adjust padding for tablet */
  }
  
  .title {
    font-size: 32px; /* Adjust title font size for tablet */
  }

  .footer__content, .header1 {
    flex-direction: column; /* Stack elements vertically on tablet */
  }
  
  .social-icons li {
    margin: 0 8px; /* Adjust margin for tablet icons */
  }
}
@media screen and (max-width: 375px) {
  main {
    flex-direction: column; /* Stack elements vertically */
    padding: 0;
  }
  h1 {
    font-size: 28px; /* Even smaller font size */
  }

  .container, .container1, .container2, .container3 {
    padding: 5px; /* Less padding for smaller screens */
  }
  .container0 {
    margin: 0;
  }
  .title {
    font-size: 24px; /* Even smaller font size */
  }

  .footer__content, .header1 {
    flex-direction: column; /* Stack elements vertically */
  }

  .footer__copyright {
    margin-top: 10px; /* Smaller margin-top */
  }

  .social-icons li {
    margin: 0 5px; /* Less margin for icons */
  }
}